@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
* .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1725490196);
  z-index: 999;
  position: fixed;
  padding: 10px 50px;
  width: 100%;
}
* .navigation.sticky {
  background-color: rgba(0, 0, 0, 0.897);
}
* .navigation .logo {
  width: 8%;
  cursor: pointer;
}
* .navigation .nav {
  display: flex;
  margin-right: 20px;
}
* .navigation .nav li {
  margin: 0px 20px;
  list-style-type: none;
}
* .navigation .nav a {
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  padding-bottom: 30px;
}
* .navigation .nav a:hover {
  border-bottom: 2px solid #fff;
}
* .navigation .lan .global-lan {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  font-family: "Work Sans";
  cursor: pointer;
}
* .navigation .lan .global-lan i {
  padding: 0px 10px;
}
* .navigation .lan .lanuages {
  display: none;
  position: absolute;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 10px;
}
* .navigation .lan .lanuages a {
  text-decoration: none;
  padding: 10px 0px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
* .navigation .lan .lanuages.active {
  display: flex;
}
@media only screen and (max-width: 920px) {
  * .navigation {
    padding: 10px 15px;
  }
  * .navigation .nav {
    position: absolute;
    flex-direction: column;
    left: 0;
    background: rgba(0, 0, 0, 0.897);
    top: 82px;
    width: 100%;
    text-align: center;
    height: 0vh;
    transition: 0.5s ease-in-out;
    z-index: 998;
  }
  * .navigation .nav.active {
    background: rgba(0, 0, 0, 0.897);
    height: 76vh;
  }
  * .navigation .nav.active a {
    display: block;
    color: #ee1c45;
  }
  * .navigation .nav.active .border-b {
    border-bottom: none;
  }
  * .navigation .nav.active .lan {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-family: "Clicker Script";
    padding: 30px 20px;
  }
  * .navigation .nav.active .lan .global-lan p {
    font-family: "Clicker Script";
  }
  * .navigation .nav.active .lan .global-lan i {
    display: none;
  }
  * .navigation .nav.active .lan .lanuages {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    background-color: none;
    padding: 0px;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
  }
  * .navigation .nav.active .lan .lanuages a {
    border-bottom: none;
    padding: 0px;
    color: #fff;
    padding-left: 110px;
  }
  * .navigation .nav a {
    display: none;
    font-size: 1.2rem;
    border-bottom: 1px solid #ffffff;
    padding: 40px 0px;
  }
  * .navigation .nav .lan {
    display: none;
  }
}
* .hamburger {
  display: none;
}
@media only screen and (max-width: 920px) {
  * .hamburger {
    display: block;
    color: #ffffff;
    padding: 6px 20px;
    font-size: 1.7rem;
  }
  * .hamburger .fa-bars {
    display: block;
  }
  * .hamburger .fa-times {
    display: none;
  }
  * .hamburger.active .fa-times {
    display: block;
  }
  * .hamburger.active .fa-bars {
    display: none;
  }
}

#home {
  background-image: url(../images/hero-bg.jpg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2941176471);
}
#home .home-title {
  position: absolute;
  top: 200px;
  color: #fff;
  width: 100%;
  padding: 0px 80px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
#home .home-title .title-one {
  font-family: "Clicker Script";
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 3rem;
}
#home .home-title h1 {
  font-weight: 600;
  font-size: 3.4rem;
  color: #ee1c45;
}
#home .home-title .title-paragraph {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 50%;
  padding: 10px 0px;
}
#home .home-title .home-cards {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: auto auto;
  width: 30%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 28px;
}
#home .home-title .home-cards .card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#home .home-title .home-cards .card i {
  font-size: 1.2rem;
}
#home .home-title .home-cards .card .card-title {
  padding: 0px;
}
#home .home-title .home-cards .card .card-title p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
#home .home-title .home-cards .card .card-title span {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
#home .home-title .home-cards .card a {
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 1.1rem;
  color: #fff;
  transition: 0.5s ease;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
}
#home .home-title .home-cards .card a:hover {
  color: #ee1c45;
}
@media only screen and (max-width: 920px) {
  #home {
    background-position: left;
  }
  #home .home-title {
    width: 100%;
    padding: 0px 20px;
  }
  #home .home-title .title-one {
    font-size: 3rem;
  }
  #home .home-title h1 {
    font-weight: 600;
    font-size: 4rem;
  }
  #home .home-title .title-paragraph {
    width: 80%;
  }
  #home .home-title .home-cards {
    padding: 20px 0px;
    width: 100%;
    backdrop-filter: blur(1px);
    border-radius: 20px;
  }
  #home .home-title .home-cards .card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #home .home-title .home-cards .card i {
    font-size: 1.2rem;
  }
  #home .home-title .home-cards .card .card-title {
    padding: 0px;
  }
  #home .home-title .home-cards .card .card-title p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  #home .home-title .home-cards .card .card-title span {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }
}

.section-title {
  text-align: center;
  padding: 30px 20px;
}
.section-title .first-text {
  font-family: "Clicker Script";
  font-size: 3rem;
  color: #ee1c45;
}
.section-title .second-text {
  font-family: "Work Sans";
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
}
.section-title p {
  font-family: "Work Sans";
  color: rgba(0, 0, 0, 0.8431372549);
  padding: 0px 150px;
}
@media only screen and (max-width: 920px) {
  .section-title .second-text {
    font-size: 3rem;
  }
  .section-title p {
    padding: 5px;
  }
}

#about {
  padding: 30px 10px;
}
#about .about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
#about .about-container img {
  width: 50%;
}
#about .about-title {
  padding: 10px 30px;
  width: 50%;
}
#about .about-title h1 {
  font-size: 3rem;
  color: #ee1c45;
  font-family: "Work Sans";
  text-align: center;
}
#about .about-title p {
  color: rgba(0, 0, 0, 0.8156862745);
  font-size: 1.1rem;
  font-family: "Work Sans";
  padding: 10px;
  width: 90%;
}
@media only screen and (max-width: 920px) {
  #about .about-container {
    flex-direction: column;
  }
  #about .about-container img {
    width: 100%;
  }
  #about .about-container .about-title {
    width: 100%;
    padding: 20px 10px;
  }
}

#services {
  padding: 30px 10px;
  background-color: rgba(218, 241, 241, 0.6117647059);
}
#services .services-container {
  padding: 10px;
}
#services .services-container .cards-content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}
#services .services-container .cards-content .card {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s ease;
}
#services .services-container .cards-content .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#services .services-container .cards-content .card img {
  width: 100%;
  height: 40vh;
}
#services .services-container .cards-content .card .info-card {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#services .services-container .cards-content .card .info-card .text-one {
  flex-direction: column;
  display: flex;
}
#services .services-container .cards-content .card .info-card .text-one span {
  font-size: 1.2rem;
  padding: 4px;
  font-family: "Work Sans";
  font-weight: 600;
  text-transform: uppercase;
}
#services .services-container .cards-content .card .info-card .text-one p {
  padding: 4px;
  font-weight: 400;
}
#services .services-container .cards-content .card .info-card span {
  padding: 10px;
  font-weight: 400;
  font-size: 1.2rem;
}
@media only screen and (max-width: 920px) {
  #services .services-container .cards-content {
    display: flex;
    flex-direction: column;
  }
  #services .services-container .cards-content .card img {
    width: 100%;
    height: auto;
  }
}

#activity .activity-content {
  padding: 10px 20px;
}
#activity .activity-content .activity-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  padding: 10px 30px;
}
#activity .activity-content .activity-cards .card {
  text-align: center;
  background: #FFF9F0;
  padding: 10px 0px;
  border-radius: 8px;
}
#activity .activity-content .activity-cards .card img {
  width: 50%;
  height: 25vh;
  padding: 10px;
}
#activity .activity-content .activity-cards .card h2 {
  color: #999999;
  font-family: "Work Sans";
  font-weight: 800;
  padding-top: 20px;
}
#activity .activity-content .activity-cards .card p {
  font-family: "Work Sans";
  color: #999999;
  text-align: left;
  padding: 10px 30px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 920px) {
  #activity .activity-content {
    padding: 10px;
  }
  #activity .activity-content .activity-cards {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  #activity .activity-content .activity-cards .card {
    padding: 0;
  }
  #activity .activity-content .activity-cards .card img {
    height: 20vh;
  }
}

#blogs {
  padding: 20px 100px;
}
#blogs .blog-images {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}
#blogs .blog-images img {
  width: 100%;
  height: 50vh;
  border-radius: 5px;
}
@media only screen and (max-width: 920px) {
  #blogs {
    padding: 20px 10px;
  }
  #blogs .blog-images {
    display: flex;
    flex-direction: column;
  }
  #blogs .blog-images img {
    height: 55vh;
  }
}

footer {
  padding: 20px 10px;
  background-image: url(../images/footer-img.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  display: grid;
  gap: 5rem;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3294117647);
  align-items: center;
}
footer .content-1 {
  margin-right: 80px;
  margin-left: 40px;
}
footer .content-1 h1 {
  font-size: 3rem;
  font-family: "Clicker Script";
  color: #Fff;
}
footer .content-1 p {
  font-family: "Work Sans";
  padding: 20px 0px;
  color: #fff;
}
footer .content-1 .icons i {
  color: #fff;
  padding: 0px 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
footer .content-2 {
  display: flex;
  flex-direction: column;
}
footer .content-2 p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .content-2 a {
  font-family: "Work Sans";
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 10px 0px;
}
@media only screen and (max-width: 920px) {
  footer {
    grid-template-columns: auto;
    gap: 1rem;
  }
  footer .content-1 {
    margin: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }
  footer .content-2 {
    padding: 10px 30px;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
}

.developer {
  text-align: center;
  background-color: #000;
  padding: 10px 0px;
}
.developer a {
  text-align: center;
  text-decoration: none;
  font-family: "Work Sans";
  font-size: 1.2rem;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
