@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
* .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1725490196);
  z-index: 999;
  position: fixed;
  padding: 10px 50px;
  width: 100%;
}
* .navigation.sticky {
  background-color: #000000;
}
* .navigation .logo {
  font-family: "Clicker Script";
  font-style: normal;
  font-weight: 400;
  color: #ee1c45;
  font-size: 3rem;
  cursor: pointer;
}
* .navigation .nav {
  display: flex;
  margin-right: 20px;
}
* .navigation .nav li {
  margin: 0px 20px;
  list-style-type: none;
}
* .navigation .nav a {
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  padding-bottom: 30px;
}
* .navigation .nav a:hover {
  border-bottom: 2px solid #fff;
}
@media only screen and (max-width: 920px) {
  * .navigation {
    padding: 10px 15px;
  }
  * .navigation .nav {
    position: absolute;
    flex-direction: column;
    left: 0;
    background: rgba(0, 0, 0, 0.897);
    top: 75px;
    width: 100%;
    text-align: center;
    height: 0vh;
    transition: 0.5s ease-in-out;
    z-index: 998;
  }
  * .navigation .nav.active {
    background: rgba(0, 0, 0, 0.897);
    height: 80vh;
  }
  * .navigation .nav.active a {
    display: block;
    color: #ee1c45;
  }
  * .navigation .nav.active .border-b {
    border-bottom: none;
  }
  * .navigation .nav a {
    display: none;
    font-size: 1.2rem;
    border-bottom: 1px solid #ffffff;
    padding: 50px 0px;
  }
}
* .hamburger {
  display: none;
}
@media only screen and (max-width: 920px) {
  * .hamburger {
    display: block;
    color: #ffffff;
    padding: 6px 20px;
    font-size: 1.7rem;
  }
  * .hamburger .fa-bars {
    display: block;
  }
  * .hamburger .fa-times {
    display: none;
  }
  * .hamburger.active .fa-times {
    display: block;
  }
  * .hamburger.active .fa-bars {
    display: none;
  }
}

#home {
  background-image: url(../images/hero-bg.jpg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2941176471);
}
#home .home-title {
  position: absolute;
  top: 200px;
  color: #fff;
  width: 100%;
  padding: 0px 80px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
#home .home-title .title-one {
  font-family: "Clicker Script";
  font-style: normal;
  font-weight: 400;
  color: #ee1c45;
  font-size: 3rem;
}
#home .home-title h1 {
  font-weight: 600;
  font-size: 5rem;
}
#home .home-title .title-paragraph {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 50%;
  padding: 10px 0px;
}
#home .home-title .home-cards {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: auto auto;
  width: 30%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 28px;
}
#home .home-title .home-cards .card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#home .home-title .home-cards .card i {
  font-size: 1.2rem;
}
#home .home-title .home-cards .card .card-title {
  padding: 0px;
}
#home .home-title .home-cards .card .card-title p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
#home .home-title .home-cards .card .card-title span {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
@media only screen and (max-width: 920px) {
  #home {
    background-position: left;
  }
  #home .home-title {
    width: 100%;
    padding: 0px 20px;
  }
  #home .home-title .title-one {
    font-size: 3rem;
  }
  #home .home-title h1 {
    font-weight: 600;
    font-size: 4rem;
  }
  #home .home-title .title-paragraph {
    width: 80%;
  }
  #home .home-title .home-cards {
    padding: 20px 0px;
    width: 100%;
    backdrop-filter: blur(1px);
    border-radius: 20px;
  }
  #home .home-title .home-cards .card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #home .home-title .home-cards .card i {
    font-size: 1.2rem;
  }
  #home .home-title .home-cards .card .card-title {
    padding: 0px;
  }
  #home .home-title .home-cards .card .card-title p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  #home .home-title .home-cards .card .card-title span {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }
}

#destination .section-title {
  text-align: center;
}
#destination .section-title .first-text {
  font-family: "Clicker Script";
  padding-top: 60px;
  font-size: 3rem;
  color: #ee1c45;
}
#destination .section-title .second-text {
  font-family: "Work Sans";
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 300;
}
#destination .img-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  padding: 30px 20px;
}
#destination .img-content img {
  width: 50%;
  height: 103.5vh;
  padding-top: 10px;
}
#destination .img-content .first-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#destination .img-content .first-content img {
  width: 100%;
  height: 50vh;
  padding: 10px;
}
#destination .img-content .first-content .second-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#destination .img-content .first-content .second-content img {
  width: 100%;
  height: 55vh;
}
@media only screen and (max-width: 920px) {
  #destination .section-title .second-text {
    font-size: 3rem;
  }
  #destination .img-content {
    flex-direction: column;
    margin-top: 300px;
  }
  #destination .img-content img {
    width: 100%;
  }
  #destination .img-content .first-content {
    flex-direction: column;
  }
  #destination .img-content .first-content img {
    width: 100%;
    height: 30vh;
  }
  #destination .img-content .first-content .second-content {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
