@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

$global_color: #ee1c45;
$global_font: "Clicker Script";
$global_font2: "Work Sans";

@mixin globalButton {
  color: #fff;
  background: rgb(205, 26, 64);
  background: linear-gradient(
    270deg,
    rgba(205, 26, 64, 1) 0%,
    rgba(255, 128, 60, 1) 100%
  );
  padding: 15px 25px;
  font-family: $global_font2;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  // Start of header style
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0000002c;
    z-index: 999;
    position: fixed;
    padding: 10px 50px;
    width: 100%;
    &.sticky {
      background-color: rgba(0, 0, 0, 0.897);
    }
    .logo {
      width: 8%;
      cursor: pointer;
    }
    .nav {
      display: flex;
      margin-right: 20px;
      & li {
        margin: 0px 20px;
        list-style-type: none;
      }
      & a {
        font-family: $global_font2;
        font-weight: 300;
        font-size: 15px;
        text-decoration: none;
        color: #fff;
        padding-bottom: 30px;
        &:hover {
          border-bottom: 2px solid #fff;
        }
      }
    }
    .lan{
      .global-lan{
        display: flex;
        justify-content: space-evenly;
        color: #fff;
        font-family: $global_font2;
        cursor: pointer;
        i{
          padding: 0px 10px;
        }
      }
      .lanuages{
        display: none;
        position: absolute;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        padding: 10px 30px;
        border-radius: 10px;
        margin-top: 10px;
        a{
          text-decoration: none;
          padding: 10px 0px;
          color: #fff;
          border-bottom: 1px solid #fff;
        }
        &.active{
          display: flex;
        }
      }
    }
    @media only screen and (max-width: 920px) {
      & {
        padding: 10px 15px;
      }
      .logo {
        width: 28%;
      }
      .nav {
        position: absolute;
        flex-direction: column;
        left: 0;
        background: rgba(0, 0, 0, 0.897);
        top: 82px;
        width: 100%;
        text-align: center;
        height: 0vh;
        transition: 0.5s ease-in-out;
        z-index: 998;
        &.active {
          background: rgba(0, 0, 0, 0.897);
          height: 76vh;
          a {
            display: block;
            color: $global_color;
          }
          .border-b {
            border-bottom: none;
          }
          .lan{
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            font-family: $global_font;

            padding: 30px 20px;
            .global-lan{
              p{
                font-family: $global_font;
              }
              i{
                display: none;
              }
            }
            .lanuages{
              position: relative;
              display: grid;
              grid-template-columns: auto auto;
              background-color: none;
              padding: 0px;
              backdrop-filter: blur(0px);
              background-color: #ffffff00;
              margin: 0;
              a{
                border-bottom: none;
                padding: 0px;
                color: #fff;
                padding-left: 110px;
              }
            }
          }
        }
        & a {
          display: none;
          font-size: 1.2rem;
          border-bottom: 1px solid #ffffff;
          padding: 40px 0px;
        }
        .lan{
          display: none;
        }
      }
    }
  }
  .hamburger {
    display: none;
    @media only screen and (max-width: 920px) {
      & {
        display: block;
        color: #ffffff;
        padding: 6px 20px;
        font-size: 1.7rem;
        .fa-bars {
          display: block;
        }
        .fa-times {
          display: none;
        }
        &.active .fa-times {
          display: block;
        }
        &.active .fa-bars {
          display: none;
        }
      }
    }
  }
}

// Start of Home style
#home {
  background-image: url(../images/hero-bg.jpg);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px #0000004b;
  .home-title {
    position: absolute;
    top: 200px;
    color: #fff;
    width: 100%;
    padding: 0px 80px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    .title-one {
      font-family: "Clicker Script";
      font-style: normal;
      font-weight: 400;
      color: #fff;
      font-size: 3rem;
    }
    h1 {
      font-weight: 600;
      font-size: 3.4rem;
      color: $global_color;
    }
    .title-paragraph {
      font-family: $global_font2;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      width: 50%;
      padding: 10px 0px;
    }
    .home-cards {
      padding: 20px 0px;
      display: grid;
      grid-template-columns: auto auto;
      width: 30%;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      border-radius: 28px;
      .card {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        i {
          font-size: 1.2rem;
        }
        .card-title {
          padding: 0px;
          p {
            font-family: $global_font2;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
          }
          span {
            font-family: $global_font2;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
          }
        }
        a{
          text-decoration: none;
          font-family: $global_font2;
          font-size: 1.1rem;
          color: #fff;
          transition: .5s ease;
          border-bottom: 1px solid #fff;
          padding-bottom: 3px;
          &:hover{
            color: $global_color;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 920px) {
    & {
      background-position: left;
      .home-title {
        width: 100%;
        padding: 0px 20px;
        .title-one {
          font-size: 3rem;
        }
        h1 {
          font-weight: 600;
          font-size: 4rem;
        }
        .title-paragraph {
          width: 80%;
        }
        .home-cards {
          padding: 20px 0px;
          width: 100%;
          backdrop-filter: blur(1px);
          border-radius: 20px;
          .card {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            i {
              font-size: 1.2rem;
            }
            .card-title {
              padding: 0px;
              p {
                font-family: $global_font2;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
              }
              span {
                font-family: $global_font2;
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.section-title {
  text-align: center;
  padding: 30px 20px;
  .first-text {
    font-family: $global_font;
    font-size: 3rem;
    color: $global_color;
  }
  .second-text {
    font-family: $global_font2;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  p {
    font-family: $global_font2;
    color: #000000d7;
    padding: 0px 150px;
  }
  @media only screen and (max-width: 920px) {
    .second-text {
      font-size: 3rem;
    }
    p {
      padding: 5px;
    }
  }
}

#about {
  padding: 30px 10px;
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    img {
      width: 50%;
    }
  }
  .about-title {
    padding: 10px 30px;
    width: 50%;
    h1 {
      font-size: 3rem;
      color: $global_color;
      font-family: $global_font2;
      text-align: center;
    }
    p {
      color: #000000d0;
      font-size: 1.1rem;
      font-family: $global_font2;
      padding: 10px;
      width: 90%;
    }
  }
  @media only screen and (max-width: 920px) {
    .about-container {
      flex-direction: column;
      img {
        width: 100%;
      }
      .about-title {
        width: 100%;
        padding: 20px 10px;
      }
    }
  }
}

#services {
  padding: 30px 10px;
  background-color: #daf1f19c;
  .services-container {
    padding: 10px;
    .cards-content {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 2rem;
      .card {
        background-color: #fff;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        transition: 0.5s ease;
        &:hover {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        img {
          width: 100%;
          height: 40vh;
        }
        .info-card {
          padding: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .text-one {
            flex-direction: column;
            display: flex;
            span {
              font-size: 1.2rem;
              padding: 4px;
              font-family: $global_font2;
              font-weight: 600;
              text-transform: uppercase;
            }
            p {
              padding: 4px;
              font-weight: 400;
            }
          }
          span {
            padding: 10px;
            font-weight: 400;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 920px) {
    .services-container {
      .cards-content {
        display: flex;
        flex-direction: column;
        .card {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

#activity {
  .activity-content {
    padding: 10px 20px;
    .activity-cards {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 2rem;
      padding: 10px 30px;
      .card {
        text-align: center;
        background: #FFF9F0;
        padding: 10px 0px;
        border-radius: 8px;
        img {
          width: 50%;
          height: 25vh;
          padding: 10px;
        }
        h2 {
          color: #999999;
          font-family: $global_font2;
          font-weight: 800;
          padding-top: 20px;
        }
        p {
          font-family: $global_font2;
          color: #999999;
          text-align: left;
          padding: 10px 30px;
          padding-bottom: 20px;
        }
      }
    }
  }
  @media only screen and (max-width: 920px){
    .activity-content{
      padding: 10px;
      .activity-cards{
        display: flex;
        flex-direction: column;
        padding: 10px;
        .card{
          padding: 0;
          img{
            height: 20vh;
          }
        }
      }
    }
  }
}

#blogs{
  padding: 20px 100px;
  .blog-images{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    img{
      width: 100%;
      height: 50vh;
      border-radius: 5px
    }
  }
  @media only screen and (max-width: 920px){
    padding: 20px 10px;
    .blog-images{
      display: flex;
      flex-direction: column;
      img{
        height: 55vh;
      }
    }
  }
}

footer{
  padding: 20px 10px;
  background-image: url(../images/footer-img.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  display: grid;
  gap: 5rem;
  width: 100%;
  grid-template-columns: auto auto auto auto;
  box-shadow: inset 0 0 0 1000px #00000054; 
  align-items: center;
  .content-1{
    margin-right: 80px;
    margin-left: 40px;
    h1{
      font-size: 3rem;
      font-family: $global_font;
      color: #Fff;
    }
    p{
      font-family: $global_font2;
      padding: 20px 0px;
      color: #fff;
    }
    .icons{
      i{
        color: #fff;
        padding: 0px 10px;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
  .content-2{
    display: flex;
    flex-direction: column;
    p{
      color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
      margin-bottom: 10px;
    }
    a{
      font-family: $global_font2;
      color: #fff;
      text-decoration: none;
      font-size: 1.1rem;
      padding: 10px 0px;
    }
  }
  @media only screen and (max-width: 920px){
    &{
      grid-template-columns: auto;
      gap: 1rem;
      .content-1{
        margin: 10px;
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
      }
      .content-2{
        padding: 10px 30px;
        width: 100%;
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.developer{
  text-align: center;
  background-color: #000;
  padding: 10px 0px;
  a{
    text-align: center;
    text-decoration: none;
    font-family: $global_font2;
    font-size: 1.2rem;
    color: #fff;
  }
}